<h1>List of examples</h1>
<p> The main goal of this {{ title }} app is to describe and implement some Angular best practices in an all-in-one application.</p>

<h3>1. Fetch from an API</h3>
<p>Use of the Http module to make a GET request to an API to get Todos. Separate the logic in a service.<br>
Use the pipe async to display the response.</p>
<ul class="json-list">
    <li *ngFor="let todo of todosFromApi$ | async">{{ todo | json }}</li>
</ul>

<h3>2. Get route params</h3>
<p>Go to the following route <a href="/home/todos/1">/home/todos/1</a>. The ActivatedRoute module will get the params.<br>
The todoId is then used to make a GET requiest to an API to get the specified todo.</p>
<p data-cy="single-todo">{{ todoFromApi$ | async | json }}</p>

<h3>3. Reactive form</h3>
<p>Example of a reactive form</p>
<form class="todo-form" [formGroup]="formGroup">

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>userId</mat-label>
        <input matInput type="number" formControlName="userId">
        <mat-error *ngIf="formGroup.controls.userId.errors">UserId must be a positive number</mat-error>
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>id</mat-label>
        <input matInput type="number" formControlName="id">
        <mat-error *ngIf="formGroup.controls.id.errors">Id must be a positive number</mat-error>
    </mat-form-field>

    <mat-form-field class="form-item" appearance="outline">
        <mat-label>title</mat-label>
        <input matInput type="text" formControlName="title" required>
        <mat-error *ngIf="formGroup.controls.title.errors">Title must have at least 2 characters</mat-error>
    </mat-form-field>

    <mat-slide-toggle class="form-item" color="accent" formControlName="completed">Completed</mat-slide-toggle>

    <p><button mat-flat-button class="form-item" color="primary" (click)="click$.next(formGroup.value!)" [disabled]="!formGroup.valid">Add to list</button></p>

</form>

<hr>

<h4>List of todos</h4>
<div data-cy="list-of-todos">
    <ul *ngIf="(listOfTodos$ | async) as todos; else noTodo">
        <li *ngFor="let todo of todos">{{ todo | json }}</li>
    </ul>

    <ng-template #noTodo>
        <span>No todo yet</span>
    </ng-template>
</div>

<h3>4. Child component</h3>
<app-details></app-details>
